@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Debug */
/* body * {
  box-sizing: border-box;
  border: 1px solid red;
} */

html, body {
  /* font-family: 'Playfair Display'; */
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1060px;
  margin: 0 auto;
}

header {
  padding: 70px 0 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav {
  flex-grow: 2;
  text-align: right;
  line-height: 30px;
}

nav a, nav a:visited {
  font-family: 'Playfair Display';
  font-size: 14px;
  text-transform: uppercase;
  color: #626262;
  margin-left: 90px;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  width: 100%;
  height: 35vw;
  background: url('../images/hero.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.photodiary {
  
}

.photodiary a,
.photodiary a:visited,
.photodiary span {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  font-size: 14px;
  text-decoration: none;
}


.photodiary h1 {
  
}

.photodiary p {
  
}

.photodiary a:hover {
  text-transform: underline;
}




/* Mobile */
@media  only screen
        and (max-width: 767px) 
{
  body {
    box-sizing: border-box;
    padding: 0 36px;
    text-align: center;
  }

  header {
    flex-direction: column;
  }

  .logo img {
    max-width: 120px;
    margin: 0 auto 35px auto;
  }
   nav {
    text-align: center;
   }

  nav a, nav a:visited {
    margin-left: 20px;
  }

  img {
    width: 100%;
  }

}

/* Tablet */
@media  only screen
        and (min-width: 768px)
        and (max-width: 1023px) 
{
}

/* Laptop */
@media  only screen
        and (min-width: 1024px)
        and (max-width: 1366px) 
{
}

/* Desktop */
@media  only screen
        and (min-width: 1367px) 
{
}
